body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000
}
.botao {
        color: #FFFFFF;
        text-decoration: none;
        padding: 10px 30px;
        background-color: #191970;
        font-size: 1em;
        border-radius: 3px;

}

nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0, 0);
}

nav > a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 800;
        font-size: 32px;
        font-family: Yellowtail, serif;
}

nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 0;
        width: 100%;
}

nav ul li {
        text-align: center;
        width: 100%;
}

nav ul li a {
        display: inline-block;
        padding: 10px 0;
        width: 100%;
        text-decoration: none;
        color:FFFFFF;
}

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url ("../img/mail.jpg");
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
}

header p{
        margin-bottom: 2em;
}

#sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        background-color: white;
        color: black;
/**         width: 65%; */
}
#sobre p {
        margin-bottom: 2.5em;
        max-width: 1000px;
}

#sobre .botao {
        background-color: #f1f1f1;
        color: #1c1c1c;
}

#aluno {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        color:#FFFFFF;
/**        width: 65%; */
}

#aluno h1, h2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
}

#aluno p {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
}

#projetos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        color:#FFFFFF;
/**         width: 65%; */
}

#contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
}

#contato p {
        color: black;
}